.calendar {
  width: 50%;
  background-color: #C9C9EE;
  color: #0F1108;
  margin-right: 8rem;
}

#addToCalendar {
    font-size: 1rem;
    padding: 1rem;
    background-color: #58B09C;
    border: none;
    border-radius: 0.5rem;
}

.addEvent {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}