.calendar {
  width: 50%;
  background-color: #C9C9EE;
  color: #0F1108;
  margin-right: 8rem;
}

.addEvent {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#bookingForm {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.4rem;
}